{% extends 'base.html' %}
{% block content %}

<div class="container">
{% for i in profile %}
    <div class="row align-items-start">
        <div class="col">
        <div class="card m-3" style="width: 300px;" >
          <img src="{{i.photo.url }}" class="card-img-top" alt="..." >
          <div class="card-body">
            <h5 class="card-title">Татьяна Прасмыцкая</h5>
            <p class="card-text">{{i.descr}}</p>
            <a href="https://t-do.ru/Tatiana230126" class="btn btn-primary"><i class="fa-brands fa-telegram"></i> to telegram</a>
          </div>
        </div>
            </div>
         <div class="col">
            <div class="card m-3">
                <div class="card-header">
                    Обо мне
                </div>

      <div class="card-body">

        <p class="card-text">Работаю бухгалтером. Год назад появилась идея учиться в академии "Шаг". Учусь на курсе Python web-разработка. Сейчас осваиваю фреймворк Django.Мне очень сложно, но и очень интересно </p>

      </div>



    </div>

               <div class="col">
            <div class="card m-3">
                <div class="card-header">
                    О сайте
                </div>

      <div class="card-body">

        <p class="card-text">На данном сайте вы можете найти мои работы, а так же почитать мои заметки в блоге. </p>

      </div>



    </div>
      </div>
     </div>
    </div>
{% endfor %}
{% endblock %}